<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding
          maxBufferPoolSize="2000000000"
          maxReceivedMessageSize="2000000000"
          maxBufferSize="2000000000" transferMode="Streamed">
          <readerQuotas maxDepth="2000000000"
                          maxStringContentLength="2000000000"
                          maxArrayLength="2000000000"
                          maxBytesPerRead="2000000000"
                          maxNameTableCharCount="2000000000" />

        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="serviceBehavior">
          <!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
         
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="TransfFile2._0.Service1">
        <endpoint address=""
                  behaviorConfiguration="web"
                  binding="webHttpBinding"
                  contract="TransfFile2._0.IService1"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior"
             type="WcfRestfulService.CORSEnablingBehavior,
                   WcfRestfulService,Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <protocolMapping>
      <!-- <add binding="basicHttpsBinding" scheme="https"/> -->
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>

      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
    <directoryBrowse enabled="true"/>

  </system.webServer>
</configuration>